@charset "UTF-8";
html {
  background-color: black; }

.App {
  background: grey;
  background-size: 100px 100px;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.modal_open {
  overflow: hidden; }

.hero_wrapper {
  width: 100vw;
  padding: 1rem;
  background-size: 10em 10em; }
  .hero_wrapper .hero_contents {
    background: none;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-position: center; }
    .hero_wrapper .hero_contents .logo_wrapper {
      width: 9rem;
      height: 9rem;
      margin: 1rem; }
      .hero_wrapper .hero_contents .logo_wrapper .logo {
        padding: none;
        height: 100%;
        width: auto;
        fill: white; }
    .hero_wrapper .hero_contents .header_text .tagline {
      font-weight: bolder;
      margin: .2rem;
      color: white; }
    .hero_wrapper .hero_contents .header_text .subheader_text {
      color: white; }

.social_icons_wrapper {
  margin-bottom: 2rem; }
  .social_icons_wrapper .social_icons {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-position: center;
    background-size: 4%;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.01)); }
    .social_icons_wrapper .social_icons a {
      margin: .5rem;
      width: 3.5rem;
      height: 3.5rem;
      padding: .2rem;
      border: .2rem solid white;
      border-radius: .8rem;
      text-align: center;
      vertical-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center; }
      .social_icons_wrapper .social_icons a .social_icon {
        margin: auto;
        fill: white;
        width: 80%;
        height: 80%;
        max-width: 80%;
        max-height: 80%; }

.about_section_wrapper {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.08), inset 0 0 3rem rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
  border-radius: .5rem;
  margin: auto;
  margin-bottom: 2rem; }
  .about_section_wrapper .about_section .bio_wrapper {
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem; }
    .about_section_wrapper .about_section .bio_wrapper p {
      margin: auto; }
    .about_section_wrapper .about_section .bio_wrapper .bio_header {
      text-align: left; }
  .about_section_wrapper .about_section .skills_wrapper {
    border-radius: .5rem;
    padding: 1rem; }
    .about_section_wrapper .about_section .skills_wrapper .skills_header {
      text-align: left; }
      .about_section_wrapper .about_section .skills_wrapper .skills_header h5 span {
        background: rgba(255, 255, 255, 0.2);
        padding: .5rem;
        border-radius: .5rem; }
    .about_section_wrapper .about_section .skills_wrapper .skills {
      background: rgba(255, 255, 255, 0.2);
      border-radius: .5rem;
      padding: .5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto; }
      .about_section_wrapper .about_section .skills_wrapper .skills .skill {
        width: 5rem;
        height: 5rem; }

.projects_section_wrapper {
  margin-bottom: 2rem;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.08), inset 0 0 3rem rgba(255, 255, 255, 0.4);
  border-radius: .5rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem; }
  .projects_section_wrapper .projects_header {
    text-align: center; }
  .projects_section_wrapper .projects_wrapper {
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    flex-grow: none;
    padding: .5rem; }
    .projects_section_wrapper .projects_wrapper .project_wrapper {
      margin: .5rem;
      padding: 1rem;
      background: rgba(255, 255, 255, 0.2);
      border-radius: .5rem;
      position: relative;
      text-align: center; }
      .projects_section_wrapper .projects_wrapper .project_wrapper p {
        text-align: center;
        margin-bottom: 1rem; }
        .projects_section_wrapper .projects_wrapper .project_wrapper p span {
          border-radius: .5rem; }
      .projects_section_wrapper .projects_wrapper .project_wrapper .image_bounds {
        background: none;
        width: 100%; }
        .projects_section_wrapper .projects_wrapper .project_wrapper .image_bounds .project_thumbnail {
          text-align: center;
          height: auto;
          width: 90%;
          max-width: 100%;
          margin: auto;
          /* Larger than mobile */
          /* Larger than phablet (also point when grid becomes active) */
          /* Larger than tablet */ }
          @media (min-width: 550px) {
            .projects_section_wrapper .projects_wrapper .project_wrapper .image_bounds .project_thumbnail {
              width: 250px; } }
          @media (min-width: 750px) {
            .projects_section_wrapper .projects_wrapper .project_wrapper .image_bounds .project_thumbnail {
              width: 250px; } }
      .projects_section_wrapper .projects_wrapper .project_wrapper button {
        margin: auto;
        outline: none;
        background: none;
        padding: .5rem; }
        .projects_section_wrapper .projects_wrapper .project_wrapper button strong {
          color: white; }
      .projects_section_wrapper .projects_wrapper .project_wrapper a {
        position: absolute;
        top: 5px;
        right: 5px;
        color: white; }

.footer_wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: .5rem;
  padding: 1rem; }
  .footer_wrapper .footer {
    margin: auto;
    background: rgba(255, 255, 255, 0.2);
    width: 60%;
    margin: auto;
    padding: 1rem;
    border-radius: .5rem; }
    .footer_wrapper .footer a {
      color: white; }

.modal_wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: scroll; }
  .modal_wrapper .modal_content {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    padding: 2rem;
    background: grey;
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: fadein 1s; }
    .modal_wrapper .modal_content .close_modal {
      color: white;
      position: absolute;
      right: 0px;
      top: 0px; }
    .modal_wrapper .modal_content .modal_image {
      padding: .5rem;
      background: rgba(255, 255, 255, 0.2);
      border-radius: .5rem; }
    .modal_wrapper .modal_content .modal_text {
      background: rgba(255, 255, 255, 0.2);
      padding: .5rem;
      border-radius: .5rem; }
      .modal_wrapper .modal_content .modal_text a {
        color: white;
        padding: .5rem;
        margin: .5rem; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .hero {
    padding: 1rem; }
    .hero .logo {
      height: 100%;
      width: 100%; } }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
.pulsing_anim {
  animation: AnimationName 5s linear infinite; }

@keyframes AnimationName {
  0% {
    background-position: 7% 0%; }
  50% {
    background-position: 94% 100%; }
  100% {
    background-position: 7% 0%; } }
